$removed-color: #c40d0d;
$added-color: #76b30b;
$deprecated-color: #f39c12;



.main pre code {
    padding: 0 25px;
    font-size: 14px;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
}

.documentation-summary {
    background: $header-dark;
    padding: 30px 0;

    ul {
        list-style: none;
        padding: 0;

        a {
            color: #fff;
            text-decoration: none;

            transition: all 0.15s;
        }
    }
    & > ul {
        width: 100%;

        & > li {
            float: left;
            width: 25%;

            & > a {
                display: block;
                font-size: 26px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                margin-right: 30px;
                padding-bottom: 10px;

                &:hover,
                &:focus {
                    color: $main-color;
                }
            }
            & > ul {
                margin: 15px 0 0;
                padding: 0;

                li {
                    margin-bottom: 3px;
                }

                a {
                    display: inline-block;
                    position: relative;

                    &[data-removed],
                    &[data-deprecated] {
                        &::after {
                            content: "•";
                            display: block;
                            position: absolute;
                            top: -7px;
                            right: -12px;
                            font-size: 22px;
                            text-indent: 0;
                        }
                    }
                    &[data-removed] {
                        &::after {
                            color: $removed-color;
                        }
                    }
                    &[data-deprecated] {
                        &::after {
                            color: $deprecated-color;
                        }
                    }

                    &:hover,
                    &:focus {
                        text-indent: 10px;
                        border-left: 5px solid $main-color;
                        opacity: 1;

                        &[data-removed],
                        &[data-deprecated] {
                            &::after {
                                display: inline-block;
                                top: -9px;
                                right: -100px;
                                width: 90px;
                                font-size: 14px;
                                text-align: left;
                                line-height: 16px;
                                color: #fff;
                                padding: 5px;
                            }
                        }
                        &[data-removed] {
                            &::after {
                                content: "Removed since v" attr(data-removed);
                                background: $removed-color;
                            }
                        }
                        &[data-deprecated] {
                            &::after {
                                content: "Deprecated since v" attr(data-deprecated);
                                background: darken($deprecated-color, 15%);
                            }
                        }
                    }
                }
            }
        }
    }


    & + .section {
        margin-top: 0;

        .section-title {
            display: none;
        }
    }
}

.removed-feature,
.added-feature,
.deprecated-feature {
    display: inline-block;
    padding: 2px 7px;
    margin: 0;
    color: #FFF;
}
.removed-feature {
    background: $removed-color;
}
.added-feature {
    background: $added-color;
}
.deprecated-feature {
    background: $deprecated-color;
}

.removed-info,
.deprecated-info {
    padding: 7px 15px;
}
.removed-info {
    background: #f2d4d4;
    border: 1px solid #c40d0d;
}
.deprecated-info {
    background: #f2dfc1;
    border: 1px solid #d6ac6a;
}

.version-tag {
    display: inline-block;
    padding: 2px 5px;
    background: #76b30b;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
}
.note .version-tag {
    transform: translateY(-1px);
}

.feature {
    position: relative;

    &[data-added]:not([data-added="1.0.0"]) {
        h3 {
            &::before {
                background: #76b30b;
            }
        }
    }
    &[data-removed] {
        h3 {
            &::before {
                background: #c40d0d;
            }
        }
    }
    &[data-deprecated] {
        h3 {
            &::before {
                background: #f39c12;
            }
        }
    }

    h3 {
        position: relative;
        margin-top: 50px;
        margin-left: -15px;
        padding-left: 15px;
        font-size: 30px;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            top: 52%;
            left: -100%;
            height: 1px;
            width: 100%;
            background: #ccc;
            transition: background 0.15s;
        }
    }
    h4 {
        font-size: 25px;
    }

    .title-link {
        position: absolute;
        top: 2px;
        left: -50px;
        line-height: 36px;
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: 28px;
        text-decoration: none;
        opacity: 0;
        background: #eee;
        border: 1px solid $main-color;
        border-radius: 50%;
        transition: all 0.15s;

        &:hover,
        &:focus {
            background: $main-color;
            color: #fff;
            text-decoration: none;
        }
    }

    &:hover,
    &[data-added]:hover {
        h3 {
            &::before {
                background: $main-color;
            }
        }
        .title-link {
            opacity: 1;
        }
    }
}

body:not(.show-removed) *[data-removed] {
    display: none !important;
}
body:not(.show-removed) .hide-removed-label {
    display: none;
}
body.show-removed .show-removed-label {
    display: none;
}
.header-show-removed {
    float: right;
    padding: 28px 30px;

    button {
        display: block;
        background: none;
        border: none;
        color: #fff;
        text-align: center;
        line-height: 1.2;
        opacity: 0.7;
        transition: opacity 150ms;

        &:hover {
            opacity: 1;
        }
        &:focus {
            outline: none;
        }
    }
}