.donate-description {
    text-align: center;
    max-width: 500px;
    margin: -25px auto 0;
    line-height: 1.6;
}

.donate-form {
    position: relative;
    width: 480px;
    margin: 50px auto 0;
    background: #f4f7fa;
    padding: 50px 100px;
    text-align: center;

    input[type='number'] {
        -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .donate-label {
        display: inline-block;
        font-size: 18px;
        color: $primary-color;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .donate-amout-container {
        position: relative;
    }
    .donate-amount {
        font-size: 30px;
        border: none;
        width: 100%;
        color: #b1b1b1;
        padding: 5px 15px;

        &:focus {
            outline-color: $primary-color;
        }
    }
    .donate-currency-input {
        display: inline-block;
        height: 0;
        width: 0;
        opacity: 0;

        &:checked + .donate-currency-label {
            color: $primary-color-dark;
            background: $primary-color-light;
        }
    }
    .donate-currency-input {
        opacity: 0;
    }
    .donate-currency-label {
        position: absolute;
        top: 13px;
        right: 13px;
        display: inline-block;
        line-height: 26px;
        height: 26px;
        width: 26px;
        font-size: 15px;
        text-align: center;
        background: #f4f7fa;
        color: #b1b1b1;
        user-select: none;
        border-radius: 4px;
        cursor: pointer;

        & ~ .donate-currency-label {
            right: 45px;
        }
    }

    .button {
        box-shadow: 0 0 84px rgba(#b2b2b2, 0.26);
    }

    .via-paypal {
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 14px;
        color: #b1b1b1;
    }

    .donate-beer {
        position: absolute;
        left: -160px;
        bottom: -80px;
        width: 250px;
    }
}