
// WeblySleek UI Light
@font-face {
    font-family: 'WeblySleek UI';
    src: url('../font/weblysleekuil-webfont.eot');
    src: url('../font/weblysleekuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/weblysleekuil-webfont.woff2') format('woff2'),
         url('../font/weblysleekuil-webfont.woff') format('woff'),
         url('../font/weblysleekuil-webfont.ttf') format('truetype'),
         url('../font/weblysleekuil-webfont.svg#weblysleek_uilight') format('svg');
    font-weight: 100;
    font-style: normal;
}

// WeblySleek UI Semilight
@font-face {
    font-family: 'WeblySleek UI';
    src: url('../font/weblysleekuisl-webfont.eot');
    src: url('../font/weblysleekuisl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/weblysleekuisl-webfont.woff2') format('woff2'),
         url('../font/weblysleekuisl-webfont.woff') format('woff'),
         url('../font/weblysleekuisl-webfont.ttf') format('truetype'),
         url('../font/weblysleekuisl-webfont.svg#weblysleek_uisemilight') format('svg');
    font-weight: 300;
    font-style: normal;
}