.header-landing {
    position: relative;
    background: linear-gradient(to bottom left, $primary-color, $primary-color-light);
    text-align: center;
    color: $white;
    padding-bottom: 200px;
}

.header-nav {
    float: right;
    width: 100%;
    margin: 0;
    padding: 25px 40px 0;
    font-weight: 400;

    li {
        list-style: none;
        float: right;

        &:first-child {
            float: left;
        }

        a {
            display: block;
            text-decoration: none;
            color: $primary-color-dark;
            font-size: 16px;
            padding: 10px 0;
            transition: color $transition-duration;

            &:hover {
                color: $white;
            }

            &.view-on-github {
                transform: translateY(-11px);

                svg {
                    width: 25px;
                    height: 25px;
                    fill: currentColor;
                    margin-right: 10px;
                    vertical-align: baseline;
                    transform: translateY(5px);
                }
                .star {
                    font-size: 18px;
                }
            }
        }
    }
}

.header-logo-container {
    margin: 0 auto;
    padding-top: calc(80px + 4%);
    text-align: center;

    .header-logo {
        margin-right: -3%;
        width: 1000px;
        max-width: 80%;
    }
}

.header-subtitle {
    font-size: 28px;
    padding: 0 20px;
}

.header-description {
    font-size: 18px;
    line-height: 1.6;
    padding: 0 20px;
    font-weight: 300;
}

.header-buttons {
    margin: 50px 0;
}

.header-install {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
}

#demonstration {
    padding-bottom: 0;
    margin-bottom: 80px;

    .trumbowyg-editor,
    .trumbowyg-textarea {
        padding: 25px;
    }
}
#demonstration .trumbowyg:not(.trumbowyg-fullscreen),
#trumbowyg-demo:not(.trumbowyg-textarea) {
    display: block;
    margin: -150px auto 0;
    width: 100%;
    height: 340px;
    max-width: 900px;
    background: $white;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.03);
    resize: none;
}

#demonstration .trumbowyg {
    font-size: 16px;
    line-height: 2;

    p {
        margin: 0 0 32px;
    }
}

#trumbowyg-demo:not(.trumbowyg-textarea) {
    color: transparent;
    overflow: hidden;
    border: 1px solid #dbdfe0;
}

.demo-switcher {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #dbdfe0;
    background: $white;

    .button {
        display: block;
        float: left;
        padding: 10px;
        margin: 0;
        border: none;
        width: 50%;
        background: none;
        color: $text-color;
        font-weight: 300;
        transition: color $transition-duration, text-indent $transition-duration;

        &:first-child {
            text-indent: 5px;
        }
        &:last-child {
            text-indent: -5px;
        }

        &.current {
            text-indent: 0;
            color: $white;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        border-radius: 50px;
        background: $primary-color-light;
        transition: margin-left $transition-duration;
    }
    &.current-plugins {
        &::after {
            margin-left: 50%;
        }
    }
}