.section {
	position: relative;
	padding-bottom: 100px;

	&-grey {
		background: #f4f7fa;
	}

	h4 {
		font-weight: bold;
		color: $text-color;
		font-size: 28px;
		padding-top: 80px;
	}
}
.section-title {
	text-align: center;
	font-family: $panton;
	font-size: 90px;
	color: $primary-color;
	padding-top: 100px;
	padding-bottom: 30px;
}