.section {
	margin-top: 100px;
}
.section-title,
.section-subtitle {
	text-align: center;
}
.section-title {
	font-size: 48px;
	color: $header-dark;
	border-top: 1px solid #DDD;
	padding-top: 50px;
}
.section-subtitle {
	font-size: 24px;
	color: $header;
	margin-bottom: 50px;
}

.section-part-title {
	margin-top: 50px;
	font-size: 28px;
	color: $header;
}