$main-color: #f39c12;
$header: #3d3d3f;
$header-dark: #222;
$header-cross: #313132;

$trumbowyg-main-color: #3498db;
$moda11yze-main-color: #2ecc71;

$font: "WeblySleek UI", sans-serif;



@import "normalize";
@import "font";
@import "base";
@import "header";
@import "section";
@import "introduction";
@import "donate-form";
@import "footer";

@import "highlightjs-github";
@import "documentation";