# EditorConfig: https://EditorConfig.org
# Notepad++ Plugin: https://github.com/editorconfig/editorconfig-notepad-plus-plus
# Visual Studio Code Plugin: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

[*.{css,html,js,json,scss,svg}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
