html, body {
	min-height: 100%;
}
body {
	width: 1080px;
	margin: 0 auto;
	padding: 25px 0;
	border: 1px solid #999;
	border-top: none;
	border-bottom: none;
}

.editor-box {
	position: relative;
	border: 1px solid #999;
	width: 700px;
	min-height: 300px;
	margin: 17px auto;
}
.editor-editor,
.editor-textarea {
	position: relative;
	padding: 2%;
	min-height: 300px;
	width: 96%;
}

.editor-button-pane {
	position: relative;
	width: 100%;
	line-height: 35px;
	height: 35px;
	background: #CCC;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.editor-button-pane li {
	float: left;
	width: 35px;
	height: 35px;
	overflow: hidden;
	text-align: center;
}
.editor-button-pane li a {
	display: block;
	text-decoration: none;
}
.editor-button-pane li a:hover,
.editor-button-pane li a:focus {
	background: #DDD;
}
.editor-button-pane li.editor-separator {
	width: 1px;
	background: #999;
	border-right: 1px solid #CCC;
	margin: 0 5px;
}

.editor-button-pane li a.editor-bold-button { font-weight: bold; }
.editor-button-pane li a.editor-italic-button { font-style: italic; }
.editor-button-pane li a.editor-underline-button { text-decoration: underline; }
.editor-button-pane li a.editor-strikethrough-button { text-decoration: line-through; }

.editor-dropdown {
	position: absolute;
	width: 180px;
}
.editor-dropdown a {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	background: #CCC;
	padding: 0 7px;
}
.editor-dropdown a:hover,
.editor-dropdown a:focus {
	background: #DDD;
}