@import "compass";
@import "icons/*.png";
@import "icons-2x/*.png";

$default-transition-duration: .2s;



.trumbowyg-box,
.editor {
	display: block;
	position: relative;
	border: 1px solid #DDD;
	background: #FEFEFE;
	width: 96%;
	min-height: 300px;
	margin: 17px auto;
}
.trumbowyg-box .editor {
	margin: 0 auto;
}
.trumbowyg-editor,
.trumbowyg-textarea {
	position: relative;
	padding: 1% 2%;
	min-height: 300px;
	width: 96%;
	border-style: none;
	resize: none;
	outline: none;
}
.trumbowyg-textarea {
	position: relative;
	display: block;
	overflow: auto;
	border: none;
	white-space: normal;
}

.trumbowyg-button-pane {
	position: relative;
	width: 100%;
	line-height: 35px;
	height: 35px;
	background: #CCC;
	@include background(linear-gradient(#F2F2F2, #CCC));
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.trumbowyg-button-pane li {
	float: left;
	height: 100%;
	text-align: center;
}
.trumbowyg-button-pane {
	&:not(.trumbowyg-disable) li a:hover,
	&:not(.trumbowyg-disable) li a.trumbowyg-active,
	li.trumbowyg-not-disable a:hover {
		background-color: #DDD;
		border-color: #AAA;
		outline: none;
	}
}
.trumbowyg-button-pane.trumbowyg-disable li:not(.trumbowyg-not-disable) a {
	opacity: .2;
	cursor: default;
}
.trumbowyg-button-pane li.trumbowyg-separator {
	width: 1px;
	background: #EEE;
	margin: 0 5px;
	height: 35px;
}

.trumbowyg-dropdown {
	width: 200px;
	border: 1px solid #DDD;
	background-color: #EFEFEF;
	@include box-shadow(#777 0 2px 5px);
}
.trumbowyg-dropdown a {
	display: block;
	width: 172px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	background: #EFEFEF;
	padding: 0 14px;
	color: #333;
	@include transition;

	&:hover,
	&:focus {
		background: #FFF;
	}
}

.trumbowyg-button-pane .trumbowyg-buttons-right {
	float: right;
	width: auto;

	a {
		float: left;
	}
}


/* Modal box */
.trumbowyg-modal {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -260px;
	width: 520px;
	height: 290px;
	overflow: hidden;
}
.trumbowyg-modal-box {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 275px;
	z-index: 1;
	background-color: #DEDEDE;
	text-align: center;
	@include box-shadow(#777 0 2px 5px);

	.trumbowyg-modal-title {
		font-size: 24px;
		font-weight: bold;
		margin: 15px 30px;
		padding-bottom: 7px;
		display: block;
		border-bottom: 1px solid #CCC;
		color: #333;
	}

	label {
		display: block;
		width: 100%;
		margin: 7px 0;
	}

	.error {
		margin-top: 25px;
		display: block;
		color: red;
	}

	.trumbowyg-modal-button {
		position: absolute;
		bottom: 10px;
		right: 0;
		text-decoration: none;
		color: #333;
		display: block;
		width: 100px;
		height: 30px;
		line-height: 30px;
		margin: 0 10px;
		background-color: #EFEFEF;
		border: 1px solid #999;

		&.trumbowyg-modal-confirm {
			right: 120px;
			border-color: green;
		}
		&.trumbowyg-modal-cancel {
			border-color: red;
		}

		&:hover,
		&:focus {
			background-color: #FFF;
		}
		&:active {
			background-color: #AAA;
		}
	}
}
.trumbowyg-overlay {
	position: absolute;
	background-color: rgba(255, 255, 255, .5);
	width: 100%;
	left: 0;
	display: none;
}


/**
 * Fullscreen
 */
.trumbowyg-fullscreen {
	&.trumbowyg-box,
	.editor {
		border: none;
	}
	.trumbowyg-overlay {
		height: 100% !important;
	}
}



/*
 * Reset for resetCss option
 */
.trumbowyg-editor {
	object,
	embed,
	video,
	img {
		width: auto;
		max-width: 100%;
	}
	video,
	img {
		height: auto;
	}

	&.trumbowyg-reset-css {
		background: #FEFEFE !important;
		font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;      
		font-size: 14px !important;
		line-height: 1.45em !important;	
		white-space: normal !important;
		color: #333;
		
		a {
			color: #15c !important;
			text-decoration: underline !important;
		}

		div,
		p,
		ul,
		ol,
		blockquote {
			box-shadow: none !important;
			background: none !important;
			margin: 0 !important;
			margin-bottom: 15px !important;
			line-height: 1.4em !important;
			font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;      
			font-size: 14px !important;
			border: none;
		}
		iframe, 
		object,
		hr {
			margin-bottom: 15px !important;
		}
		blockquote {
			margin-left: 32px !important;
			font-style: italic !important;
			color: #555;
		}
		ul, 
		ol {
			padding-left: 20px !important;	
		}
		ul ul, 
		ol ol, 
		ul ol, 
		ol ul {
			border: none;
			margin: 2px !important;
			padding: 0 !important;
			padding-left: 24px !important;
		}
		hr {
		  display: block;
		  height: 1px;
		  border: 0;
		  border-top: 1px solid #CCC;
		}

		h1, 
		h2, 
		h3, 
		h4 {
			color: #111;
			background: none;
			margin: 0 !important;
			padding: 0 !important;
			font-weight: bold;	
		}

		h1 {
			font-size: 32px !important;
			line-height: 38px !important;
			margin-bottom: 20px !important;
		}
		h2 {
			font-size: 26px !important;
			line-height: 34px !important;
			margin-bottom: 15px !important;
		}
		h3 {
			font-size: 22px !important;
			line-height: 28px !important;
			margin-bottom: 7px !important;
		}
		h4 {
			font-size: 16px !important;
			line-height: 22px !important;
			margin-bottom: 7px !important;
		}
	}
}



/*
 * Buttons icons
 */
.trumbowyg-button-pane li a {
	display: block;
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	overflow: hidden;
	margin: 4px 2px;
	border: 1px solid transparent;

	&.trumbowyg-viewHTML-button { @include icons-sprite('view-html'); }
	&.trumbowyg-formatting-button { @include icons-sprite('formatting'); }

	/* English and others */
	&.trumbowyg-bold-button, &.trumbowyg-strong-button { @include icons-sprite('bold'); }
	&.trumbowyg-italic-button, &.trumbowyg-em-button { @include icons-sprite('italic'); }
	&.trumbowyg-underline-button { @include icons-sprite('underline'); }
	&.trumbowyg-strikethrough-button { @include icons-sprite('strikethrough'); }

	&.trumbowyg-link-button { @include icons-sprite('link'); }

	&.trumbowyg-insertImage-button { @include icons-sprite('image'); }

	&.trumbowyg-justifyLeft-button { @include icons-sprite('left-align'); }
	&.trumbowyg-justifyCenter-button { @include icons-sprite('center-align'); }
	&.trumbowyg-justifyRight-button { @include icons-sprite('right-align'); }
	&.trumbowyg-justifyFull-button { @include icons-sprite('justify-align'); }

	&.trumbowyg-unorderedList-button { @include icons-sprite('unordered-list'); }
	&.trumbowyg-orderedList-button { @include icons-sprite('ordered-list'); }

	&.trumbowyg-insertHorizontalRule-button { @include icons-sprite('horizontale-rule'); }

	&.trumbowyg-fullscreen-button { @include icons-sprite('fullscreen'); }
	&.trumbowyg-close-button { @include icons-sprite('close'); }
}
.trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button { @include icons-sprite('fullscreen-exit'); }
.trumbowyg-button-pane li {
	&:first-child a { margin-left: 6px; }
	&:last-child a { margin-right: 6px; }
}

/* French */
.trumbowyg-fr .trumbowyg-button-pane li a {
	&.trumbowyg-bold-button, &.trumbowyg-strong-button { @include icons-sprite('gras'); }
	&.trumbowyg-underline-button { @include icons-sprite('souligne'); }
	&.trumbowyg-strikethrough-button { @include icons-sprite('barre'); }
}





@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4/3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){ 
	.trumbowyg-button-pane li a {
		background-size: 50%;

		&.trumbowyg-viewHTML-button { @include icons-2x-sprite('view-html'); }
		&.trumbowyg-formatting-button { @include icons-2x-sprite('formatting'); }

		/* English and others */
		&.trumbowyg-bold-button, &.trumbowyg-strong-button { @include icons-2x-sprite('bold'); }
		&.trumbowyg-italic-button, &.trumbowyg-em-button { @include icons-2x-sprite('italic'); }
		&.trumbowyg-underline-button { @include icons-2x-sprite('underline'); }
		&.trumbowyg-strikethrough-button { @include icons-2x-sprite('strikethrough'); }

		&.trumbowyg-link-button { @include icons-2x-sprite('link'); }

		&.trumbowyg-insertImage-button { @include icons-2x-sprite('image'); }

		&.trumbowyg-justifyLeft-button { @include icons-2x-sprite('left-align'); }
		&.trumbowyg-justifyCenter-button { @include icons-2x-sprite('center-align'); }
		&.trumbowyg-justifyRight-button { @include icons-2x-sprite('right-align'); }
		&.trumbowyg-justifyFull-button { @include icons-2x-sprite('justify-align'); }

		&.trumbowyg-unorderedList-button { @include icons-2x-sprite('unordered-list'); }
		&.trumbowyg-orderedList-button { @include icons-2x-sprite('ordered-list'); }

		&.trumbowyg-insertHorizontalRule-button { @include icons-2x-sprite('horizontale-rule'); }

		&.trumbowyg-fullscreen-button { @include icons-2x-sprite('fullscreen'); }
		&.trumbowyg-close-button { @include icons-2x-sprite('close'); }
	}
	.trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button { @include icons-2x-sprite('fullscreen-exit'); }

	/* French */
	.trumbowyg-fr .trumbowyg-button-pane li a {
		&.trumbowyg-bold-button, &.trumbowyg-strong-button { @include icons-2x-sprite('gras'); }
		&.trumbowyg-underline-button { @include icons-2x-sprite('souligne'); }
		&.trumbowyg-strikethrough-button { @include icons-2x-sprite('barre'); }
	}
}