// Panton Light
@font-face {
    font-family: 'Panton';
    src: url('../font/panton.eot');
    src: url('../font/panton.eot?#iefix') format('embedded-opentype'),
         url('../font/panton.woff2') format('woff2'),
         url('../font/panton.woff') format('woff'),
         url('../font/panton.ttf') format('truetype');
    font-weight: 300;
}