$primary-color: #ff974a;
$primary-color-light: #ffb864;
$primary-color-dark: #b65207;
$secondary-color: #f48d40;
$text-color: #392813;
$grey: #f4f7fa;
$white: #fff;

$panton: "Panton", sans-serif;
$font: "Open Sans", sans-serif;

$radius: 6px;

$transition-duration: 150ms;
