html,
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.dark-section {
    background: #111;
    color: #ddd;
    margin-top: 50px;
    padding: 50px 0 100px;
}
.dark-section .title {
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    margin: 20px 0 50px;
}

.form-submit {
    background: transparent;
    border: 1px solid #555;
    color: #ccc;
    padding: 7px 13px;
    margin-right: 17px;
    float: right;
}