html,
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
#main {
    max-width: 960px;
    margin: 0 auto;
}