.icons-sprite, .trumbowyg-button-pane li a.trumbowyg-viewHTML-button, .trumbowyg-button-pane li a.trumbowyg-formatting-button, .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-button-pane li a.trumbowyg-strong-button, .trumbowyg-button-pane li a.trumbowyg-italic-button, .trumbowyg-button-pane li a.trumbowyg-em-button, .trumbowyg-button-pane li a.trumbowyg-underline-button, .trumbowyg-button-pane li a.trumbowyg-strikethrough-button, .trumbowyg-button-pane li a.trumbowyg-link-button, .trumbowyg-button-pane li a.trumbowyg-insertImage-button, .trumbowyg-button-pane li a.trumbowyg-justifyLeft-button, .trumbowyg-button-pane li a.trumbowyg-justifyCenter-button, .trumbowyg-button-pane li a.trumbowyg-justifyRight-button, .trumbowyg-button-pane li a.trumbowyg-justifyFull-button, .trumbowyg-button-pane li a.trumbowyg-unorderedList-button, .trumbowyg-button-pane li a.trumbowyg-orderedList-button, .trumbowyg-button-pane li a.trumbowyg-insertHorizontalRule-button, .trumbowyg-button-pane li a.trumbowyg-fullscreen-button, .trumbowyg-button-pane li a.trumbowyg-close-button, .trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strong-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-underline-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strikethrough-button {
  background: url('../images/icons-s9c59264d91.png') no-repeat; }

.icons-2x-sprite {
  background: url('../images/icons-2x-s711c49bee4.png') no-repeat; }

/*
 * Globals styles
 */
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Verdana, sans-serif, serif; }

#main {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
  border: 1px solid #999;
  border-top: none;
  border-bottom: none; }

.trumbowyg-box,
.editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  background: #FEFEFE;
  width: 750px;
  min-height: 300px;
  margin: 17px auto; }

.trumbowyg-box .editor {
  margin: 0 auto; }

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  padding: 1% 2%;
  min-height: 300px;
  width: 96%;
  border-style: none;
  resize: none;
  outline: none; }

.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  white-space: normal; }

.trumbowyg-button-pane {
  position: relative;
  width: 100%;
  line-height: 35px;
  height: 35px;
  background: #CCC;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#f2f2f2, #cccccc);
  background: -moz-linear-gradient(#f2f2f2, #cccccc);
  background: -o-linear-gradient(#f2f2f2, #cccccc);
  background: linear-gradient(#f2f2f2, #cccccc);
  margin: 0;
  padding: 0;
  list-style-type: none; }

.trumbowyg-button-pane li {
  float: left;
  height: 100%;
  text-align: center; }

.trumbowyg-button-pane:not(.trumbowyg-disable) li a:hover, .trumbowyg-button-pane:not(.trumbowyg-disable) li a.trumbowyg-active,
.trumbowyg-button-pane li.trumbowyg-not-disable a:hover {
  background-color: #DDD;
  border-color: #AAA;
  outline: none; }

.trumbowyg-button-pane.trumbowyg-disable li:not(.trumbowyg-not-disable) a {
  opacity: .2;
  cursor: default; }

.trumbowyg-button-pane li.trumbowyg-separator {
  width: 1px;
  background: #EEE;
  margin: 0 5px;
  height: 35px; }

.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #DDD;
  -webkit-box-shadow: #777777 0 2px 5px;
  -moz-box-shadow: #777777 0 2px 5px;
  box-shadow: #777777 0 2px 5px; }

.trumbowyg-dropdown a {
  display: block;
  width: 172px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #EFEFEF;
  padding: 0 14px;
  color: #333;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .trumbowyg-dropdown a:hover, .trumbowyg-dropdown a:focus {
    background: #FFF;
    text-indent: 7px; }

.trumbowyg-button-pane .trumbowyg-buttons-right {
  float: right;
  width: auto; }
  .trumbowyg-button-pane .trumbowyg-buttons-right a {
    float: left; }

/*
 * Reset for resetCss option
 */
.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  white-space: normal !important;
  color: #333; }
  .trumbowyg-editor.trumbowyg-reset-css a {
    color: #15c !important;
    text-decoration: underline !important; }
  .trumbowyg-editor.trumbowyg-reset-css object,
  .trumbowyg-editor.trumbowyg-reset-css embed,
  .trumbowyg-editor.trumbowyg-reset-css video,
  .trumbowyg-editor.trumbowyg-reset-css img {
    width: auto;
    max-width: 100%; }
  .trumbowyg-editor.trumbowyg-reset-css video,
  .trumbowyg-editor.trumbowyg-reset-css img {
    height: auto; }
  .trumbowyg-editor.trumbowyg-reset-css div,
  .trumbowyg-editor.trumbowyg-reset-css p,
  .trumbowyg-editor.trumbowyg-reset-css ul,
  .trumbowyg-editor.trumbowyg-reset-css ol,
  .trumbowyg-editor.trumbowyg-reset-css blockquote {
    box-shadow: none !important;
    background: none !important;
    margin: 0 !important;
    margin-bottom: 15px !important;
    line-height: 1.4em !important;
    font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
    font-size: 14px !important;
    border: none; }
  .trumbowyg-editor.trumbowyg-reset-css iframe,
  .trumbowyg-editor.trumbowyg-reset-css object,
  .trumbowyg-editor.trumbowyg-reset-css hr {
    margin-bottom: 15px !important; }
  .trumbowyg-editor.trumbowyg-reset-css blockquote {
    margin-left: 32px !important;
    font-style: italic !important;
    color: #555; }
  .trumbowyg-editor.trumbowyg-reset-css ul,
  .trumbowyg-editor.trumbowyg-reset-css ol {
    padding-left: 20px !important; }
  .trumbowyg-editor.trumbowyg-reset-css ul ul,
  .trumbowyg-editor.trumbowyg-reset-css ol ol,
  .trumbowyg-editor.trumbowyg-reset-css ul ol,
  .trumbowyg-editor.trumbowyg-reset-css ol ul {
    border: none;
    margin: 2px !important;
    padding: 0 !important;
    padding-left: 24px !important; }
  .trumbowyg-editor.trumbowyg-reset-css hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC; }
  .trumbowyg-editor.trumbowyg-reset-css h1,
  .trumbowyg-editor.trumbowyg-reset-css h2,
  .trumbowyg-editor.trumbowyg-reset-css h3,
  .trumbowyg-editor.trumbowyg-reset-css h4 {
    color: #111;
    background: none;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold; }
  .trumbowyg-editor.trumbowyg-reset-css h1 {
    font-size: 32px !important;
    line-height: 38px !important;
    margin-bottom: 20px !important; }
  .trumbowyg-editor.trumbowyg-reset-css h2 {
    font-size: 26px !important;
    line-height: 34px !important;
    margin-bottom: 15px !important; }
  .trumbowyg-editor.trumbowyg-reset-css h3 {
    font-size: 22px !important;
    line-height: 28px !important;
    margin-bottom: 7px !important; }
  .trumbowyg-editor.trumbowyg-reset-css h4 {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-bottom: 7px !important; }

/*
 * Buttons icons
 */
.trumbowyg-button-pane li a {
  display: block;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin: 4px 2px;
  border: 1px solid transparent;
  /* English and others */ }
  .trumbowyg-button-pane li a.trumbowyg-viewHTML-button {
    background-position: 0 -325px; }
  .trumbowyg-button-pane li a.trumbowyg-formatting-button {
    background-position: 0 -375px; }
  .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-button-pane li a.trumbowyg-strong-button {
    background-position: 0 -200px; }
  .trumbowyg-button-pane li a.trumbowyg-italic-button, .trumbowyg-button-pane li a.trumbowyg-em-button {
    background-position: 0 -525px; }
  .trumbowyg-button-pane li a.trumbowyg-underline-button {
    background-position: 0 -275px; }
  .trumbowyg-button-pane li a.trumbowyg-strikethrough-button {
    background-position: 0 -250px; }
  .trumbowyg-button-pane li a.trumbowyg-link-button {
    background-position: 0 -100px; }
  .trumbowyg-button-pane li a.trumbowyg-insertImage-button {
    background-position: 0 -125px; }
  .trumbowyg-button-pane li a.trumbowyg-justifyLeft-button {
    background-position: 0 -400px; }
  .trumbowyg-button-pane li a.trumbowyg-justifyCenter-button {
    background-position: 0 -425px; }
  .trumbowyg-button-pane li a.trumbowyg-justifyRight-button {
    background-position: 0 -450px; }
  .trumbowyg-button-pane li a.trumbowyg-justifyFull-button {
    background-position: 0 -500px; }
  .trumbowyg-button-pane li a.trumbowyg-unorderedList-button {
    background-position: 0 -475px; }
  .trumbowyg-button-pane li a.trumbowyg-orderedList-button {
    background-position: 0 -300px; }
  .trumbowyg-button-pane li a.trumbowyg-insertHorizontalRule-button {
    background-position: 0 -550px; }
  .trumbowyg-button-pane li a.trumbowyg-fullscreen-button {
    background-position: 0 0; }
  .trumbowyg-button-pane li a.trumbowyg-close-button {
    background-position: 0 -350px; }

.trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button {
  background-position: 0 -25px; }

.trumbowyg-button-pane li:first-child a {
  margin-left: 6px; }
.trumbowyg-button-pane li:last-child a {
  margin-right: 6px; }

/* French */
.trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strong-button {
  background-position: 0 -150px; }
.trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-underline-button {
  background-position: 0 -225px; }
.trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strikethrough-button {
  background-position: 0 -175px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .trumbowyg-button-pane li a {
    background-size: 50%;
    /* English and others */ }
    .trumbowyg-button-pane li a.trumbowyg-viewHTML-button {
      background-position: 0 -350px; }
    .trumbowyg-button-pane li a.trumbowyg-formatting-button {
      background-position: 0 -750px; }
    .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-button-pane li a.trumbowyg-strong-button {
      background-position: 0 -500px; }
    .trumbowyg-button-pane li a.trumbowyg-italic-button, .trumbowyg-button-pane li a.trumbowyg-em-button {
      background-position: 0 -700px; }
    .trumbowyg-button-pane li a.trumbowyg-underline-button {
      background-position: 0 -650px; }
    .trumbowyg-button-pane li a.trumbowyg-strikethrough-button {
      background-position: 0 -200px; }
    .trumbowyg-button-pane li a.trumbowyg-link-button {
      background-position: 0 -150px; }
    .trumbowyg-button-pane li a.trumbowyg-insertImage-button {
      background-position: 0 -550px; }
    .trumbowyg-button-pane li a.trumbowyg-justifyLeft-button {
      background-position: 0 -1000px; }
    .trumbowyg-button-pane li a.trumbowyg-justifyCenter-button {
      background-position: 0 -900px; }
    .trumbowyg-button-pane li a.trumbowyg-justifyRight-button {
      background-position: 0 -950px; }
    .trumbowyg-button-pane li a.trumbowyg-justifyFull-button {
      background-position: 0 -1050px; }
    .trumbowyg-button-pane li a.trumbowyg-unorderedList-button {
      background-position: 0 -850px; }
    .trumbowyg-button-pane li a.trumbowyg-orderedList-button {
      background-position: 0 -600px; }
    .trumbowyg-button-pane li a.trumbowyg-insertHorizontalRule-button {
      background-position: 0 -1100px; }
    .trumbowyg-button-pane li a.trumbowyg-fullscreen-button {
      background-position: 0 -50px; }
    .trumbowyg-button-pane li a.trumbowyg-close-button {
      background-position: 0 -450px; }

  .trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button {
    background-position: 0 -100px; }

  /* French */
  .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-bold-button, .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strong-button {
    background-position: 0 -300px; }
  .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-underline-button {
    background-position: 0 -250px; }
  .trumbowyg-fr .trumbowyg-button-pane li a.trumbowyg-strikethrough-button {
    background-position: 0 -400px; } }
